.pieSlideHeader
	position: relative
	text-align: center
	padding: 30px 0
	h1
		font-size: 40px
		margin: auto
		color: $orangeAccent
		font-weight: 100
	.pieDivider
		font-family: $windings
		font-size: 30px
		@extend li
		color: $goldAccent
		margin: 0 10px
	.pieHeaderLine
		position: absolute
		border-top: 2px solid $goldAccent
		max-width: 200px
		left: 0
		right: 0
		margin: auto
		bottom: 46px