@media screen and (max-width: 700px)
	.flex, .Nosotrosflex
		flex-direction: column
	#franquies
		padding-left: 0 !important

@media screen and (max-width: 620px) and (min-width: 340px)
	#menu
		top: -17px !important

@media screen and (max-width: 340px)
	#logo
		width: 200px
		padding: 10px 0
	#menu
		top: -18px !important
		a
			font-size: 14px !important